/JavaFXApplication2/nbproject/private/
/JavaFXApplication/build/
/JavaFXApplication/dist/
/JavaFXApplication3/nbproject/private/
/JavaFXApplication3/build/
/JavaFXApplication3/dist/
/JavaFXApplication4/nbproject/private/
/JavaFXApplication4/dist/
/JavaFXApplication4/build/
/JavaFXApplication5/nbproject/private/
/JavaFXApplication5/build/
/JavaFXApplication6/nbproject/private/
/JavaFXApplication6/build/
/JavaFXApplication7/nbproject/private/
/JavaFXApplication7/build/
